<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <td><img src="#" alt="Alternate Text" width="100px" bredth = "100px"/></td>
            <td><h2>Welcome to TestApp</h2></td>
        </tr
        <tr>
            <td>
                <a href="/Product/Index1">Cosmetic</a>
                <a href="/Product/Index2">Electronic</a>
                <a href="/Product/Index3">Clothing</a>
                
            </td>
            <td>
                 <div>
                  @RenderBody()
                 </div>
            </td>
            
        </tr
    </table>
   
</body>
</html>